/* Estilo para o body (fundo roxo) */
body {

    background-color: #6f42c1;
    /* Cor roxa de fundo */

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para o contêiner principal (centralização) */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Centraliza verticalmente na tela inteira */
}

/* Estilo para o formulário */
.form-container {

    background-color: #322383; /* Fundo branco para o formulário */

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    text-align: center;
}

/* Estilo para o cabeçalho (botões) */
.header {
    position: fixed;
    /* Torna o cabeçalho fixo no topo */
    top: 0;
    width: 100%;
    /* Cobrir toda a largura */
    background-color: #4b209b;
    /* Fundo branco */
    padding: 10px 20px;
    /* Padding para espaçamento interno */
    display: flex;
    justify-content: flex-end;
    /* Alinhar os botões à direita */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

/* Estilo para os botões */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #845fda56;
    color: #fff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
}

.button:hover {
    background-color: #a172ee;
    /* Cor mais escura quando passa o mouse */
}